/* .not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  } */
  
  /* .not-found-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  } */
  
  /* .lottie-container {
    width: 50%;
    max-width: 100%;
  } */
  
  .lottie-animation {
    margin-left: 100px;
    position: absolute;
    width: 100%;
    height: 100vh;
  }